@import "./global.scss";

.header {
  padding: 25px;
  input {
    width: 50%;
    height: 50px;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    opacity: 80%;
  }
  input:focus {
    outline: none;
  }
  h1 {
    margin: 0px;
    font-size: 150px;
    font-weight: bolder;
    color: $secondary_text;
    text-shadow: 0 0 15px $text_decoration;
  }
}
@media only screen and (max-width: 800px) {
  .header {
    .title {
      font-size: 60px;
    }
    .search-bar {
      width: 80%;
      height: 25px;
      font-size: 16px;
    }
  }
}
