@import "./global.scss";

.movie-list {
  color: $primary_text;
  background-color: $primary_background;
  border-radius: 40px;
  display: inline-block;
  width: 60%;
  margin: 25px;
  padding: 20px;
  .movies {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    img {
      height: 80px;
    }
  }
  .movie-item {
    display: flex;
    list-style: none;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid $background_decoration;
    .text-info {
      float: right;
      padding-left: 30px;
      color: $primary_text;
      .title {
        margin: 0px;
        font-size: 24px;
      }
      .date {
        margin: 0px;
        font-size: 18px;
      }
    }
  }
  nav {
    .pagination {
      padding: 0px;
      list-style: none;
      .page-item {
        display: inline;
        .page-link {
          font-size: 22px;
          border: none;
          background: none;
          padding: 10px;
          color: $primary_text;
        }
      }
    }
  }
  .not-found {
    font-size: 22px;
  }
}

@media only screen and (max-width: 800px) {
  .movie-list {
    width: 80%;
    padding: 20px;
    .movies {
      margin: 0px;
      .movie-item {
        img {
          height: 50px;
        }
        .text-info {
          .title {
            font-size: 16px;
          }
          .date {
            font-size: 14px;
          }
        }
      }
    }
    .page-link {
      font-size: 16px !important;
    }
    .not-found {
      font-size: 16px;
    }
  }
}
